#container
{
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 960px;
    height: 960px;
}
.row
{
    display: flex;
}
.col
{
    display: flex;
}

.col:hover 
{
    background-color: black;
}
