#container
{
    display: flex;
    flex-direction: column;
}
.row
{
    display: flex;

    height: 10px;
}
.col
{
    display: flex;

    width: 10px;
    height: 10px;
}

.col:hover 
{
    background-color: black;
}
